[Unit]
Description=pidesktop Power Button service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/share/pidesktop/python/pd-powerkey.py
Restart=always

[Install]
WantedBy=multi-user.target
