[Unit]
Description=pidesktop Reboot Service
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -u /usr/share/pidesktop/python/pd_reboot.py

[Install]
WantedBy=reboot.target
