[Unit]
Description=pidesktop Shutdown Service
DefaultDependencies=no
Before=shutdown.target
Conflicts=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -u /usr/share/pidesktop/python/pd_shutdown.py

[Install]
WantedBy=shutdown.target
